@import url('https://fonts.cdnfonts.com/css/bricolage-grotesque');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-size: 16px;
  font-family: 'Bricolage Grotesque', sans-serif
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

ul,
ul>li {
  background-color: white;
}

ul>li:hover {
  cursor: pointer;
}

.enhance {
  text-shadow: 2px 2px #101010, 2px -2px #101010, -2px 2px #101010, -2px -2px #101010, 4px 4px 2px #000;
}

.lazy-load-image-background.blur.lazy-load-image-loaded>img:hover {
  scale: 1.5;
  transition: scale 1s !important;
}